---
import Sidebar from './sidebar.astro';
interface Props {
  title: string;
  sidebarActive?: string;
}

const {title, sidebarActive} = Astro.props;
---

<!doctype html>
<html class='h-full min-h-full bg-white'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title} - LLM Utils</title>
  </head>
  <body class='min-h-full bg-gray-100'>
    <Sidebar active={sidebarActive}>
      <div>
        <h1 class='text-2xl font-bold'>{title}</h1>
        <slot />
      </div>
    </Sidebar>
  </body>
</html>
